{#
/**
 * @file
 * Default theme implementation of encryption policy page.
 *
 * Available variables:
 * - var1
 *
 * @see template_preprocess()
 * @see template_preprocess_link_formatter_link_separate()
 *
 * @ingroup themeable
 */
#}

<h2>Browser test</h2>

  <div id="encryption-policy-browser-test">
    <table id="encryption-policy-browser-test">
        <th>Loading...</th>
    </table>
  </div>


<h2>Variable test</h2>
{{ var1 }}
