{#
/**
 * @file
 * Default theme implementation of encryption policy page.
 *
 * Available variables:
 * - var1
 *
 * @see template_preprocess()
 * @see template_preprocess_link_formatter_link_separate()
 *
 * @ingroup themeable
 */
#}

<h2>Browser test</h2>

    <table>
        <th>Loading...</th>
    </table>


<h2>Variable test</h2>
{{ var1 }}
