{#
/**
 * @file
 * Default theme implementation of encryption policy page.
 *
 * Available variables:
 * - encryption_policy_overview
 *
 * @see template_preprocess()
 * @see template_preprocess_link_formatter_link_separate()
 *
 * @ingroup themeable
 */
#}

{{ encryption_policy_overview }}

<h2>Browser test</h2>

  <div id="encryption-policy-browser-test">
    <table id="encryption-policy-browser-test">
        <th>Loading...</th>
    </table>
  </div>


